@keyframes toastCircle {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  25% {
    transform: translate(calc(100vw - 400px), 0);
    opacity: 2;
  }
 
  /* 
  75% {
    transform: translate(0, calc(100vh - 100px));
    opacity: 1;
  }
  90% {
    transform: translate(0, 0);
    opacity: 1;
  } */
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}

.toast-animation .Toastify__toast {
  animation: toastCircle 3s linear;
  animation-fill-mode: forwards;
}

.Toastify__toast-container {
  z-index: 99;
}
